#confirmation-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    font-size: calc(var(--responsive-font-size-1) + var(--responsive-font-size-point5));
    
    background-image: url("/background/confirmation_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line-1 {
    color: var(--title-color);
}
.line-2 {
    color: var(--ascent-color);
}
.submission-button {
    font-size: var(--responsive-font-size-1);
    padding: 20px;
    border-radius: 10px;
}
.submission-button:hover {
    box-shadow: 2px 2px 4px gray;
}
.submission-button:active {
    box-shadow: 0 0 0 gray;
    transform: translate(2px, 2px);
}

@media only screen and (max-width: 560px) {
    #confirmation-display {
        background-position: right;
    }
    .confirmation-container {
        padding: 0 10px 0 10px;
    }
    .submission-button {
        color: white;
        font-size: calc(var(--responsive-font-size-1) + var(--responsive-font-size-point5));
        background-color: var(--ascent-color);
    }
}