.confirmation,
.rejection {
    display: flex;
    flex-direction: column;
    height: 83vh;
    justify-content: center;
    align-items: center;
}

.confirmation-container,
.rejection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: #000;
    background-image: linear-gradient(to bottom right, #BAD6EB, #315E8B);
}