#confirmation-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    font-size: calc(var(--responsive-font-size-1) + var(--responsive-font-size-point5));
    
    background-image: url("/background/confirmation_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line-1 {
    color: var(--title-color);
}
.line-2 {
    color: var(--ascent-color);
}