* {
    --header-real-height: 83px;
    --footer-real-height: 76px;
    --universal-real-width: 96vw; 
    /* 100vw - 2*var(--universal-lr-padding) */
    --universal-lr-padding: 2vw;
    --footer-tb-padding: 0.5rem;
    
    --header-footer-background-color: #DBFFDC;
    --title-color: #1D3E0E;
}

/* Apply flex properties */
header,
footer,
nav,
#icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer {
    justify-content: space-around;
}

/* Apply individual rules */
header,
footer {
    position: relative;
    padding: 0px var(--universal-lr-padding) 0px var(--universal-lr-padding);
    background-color: var(--header-footer-background-color);
}
header button,
footer button {
    padding: 20px;
    border-radius: 10px;
    color: var(--ascent-color);
}
header button:hover,
footer button:hover {
    box-shadow: 4px 4px 10px gray,
                -4px -4px 10px white;
    transition: all 200ms;
}
header button:active,
footer button:active {
    box-shadow: 0px 0px 0px gray,
                0px 0px 0px white;
    transition: all 100ms;
}
.title {
    color: var(--title-color)
}
.title-link {
    font-style: normal;
}

nav{
    width: 30%;
    min-width: 250px;
    max-width: 300px;
}

footer {
    bottom: 0;
    padding: var(--footer-tb-padding) var(--universal-lr-padding) 
             var(--footer-tb-padding) var(--universal-lr-padding);
}
#icon-container {
    width: 10%;
    min-width: 150px;
    max-width: 200px;
}

#icon-container img{
    transition: all 0.2s;
}
#icon-container img:hover{
    transform: translate(0, -50%);
    transition: all 0.2s;
}
@media only screen and (max-width: 560px) {
    * {
        --header-real-height: 128px;
        --footer-real-height: 43px;
    }
    header,
    footer {
        position: relative;
    }
    header{
        flex-direction: column;
        padding-bottom: 10px;
    }
    header .title {
        padding-bottom: 0;
    }
    header button {
        padding: 10px;
    }
    footer {
        justify-content: space-between;
    }
    footer .title{
        display: none;
    }
    footer button {
        padding: 5px;
    }
}