* {
    --responsive-font-size-3: calc(3vh + 3vw);
    --responsive-font-size-2: calc(2vh + 2vw);
    --responsive-font-size-1: calc(1vh + 1vw);
    --responsive-font-size-point75: calc(0.75vh + 0.75vw);
    --responsive-font-size-point5: calc(0.5vh + 0.5vw);
    --background-image-color: #cef8ce;
    --impact-font-size: 40px;
}

#sign-up-display,
#forgot-password-display {
    background-image: url("/background/signup_background.png");
}
#log-in-display,
#reset-password-display {
    background-image: url("/background/login_background.png");
}
#sign-up-display,
#log-in-display,
#forgot-password-display, 
#reset-password-display {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0px var(--universal-lr-padding) 0px var(--universal-lr-padding);
}

#sign-up-form,
#log-in-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 45vw;
    min-width: 550px;
    padding: 20px calc(var(--universal-lr-padding) + 30px) 
             20px calc(var(--universal-lr-padding) + 30px);
}

#sign-up-info > h1,
#log-in-info > h1,
#forgot-password-info > h1,
#reset-password-info > h1 {
    color: var(--ascent-color);
    font-size: var(--responsive-font-size-3);
    margin: 0;
}
#sign-up-info > h2,
#log-in-info > h2,
#forgot-password-info > h2,
#reset-password-info > h2 {
    font-size: var(--responsive-font-size-1);
    color: var(--my-gray);
}
#log-in-form .password-container {
    width: 100%;
}

#sign-up-info,
#log-in-info,
#forgot-password-info,
#reset-password-info {
    padding-left: var(--sign-up-log-in-content-padding);
}

#sign-up-container,
#log-in-container,
#forgot-password-container,
#reset-password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sign-up-button,
#log-in-button,
#send-email-button,
#reset-password-button {
    box-sizing: border-box;
    color: white;
    background-color: var(--ascent-color);
    font-size: var(--primary-font-size);
    padding: var(--sign-up-log-in-content-padding);
    margin: 0px var(--sign-up-log-in-content-padding) 
            0px var(--sign-up-log-in-content-padding);
    border-radius: calc(var(--sign-up-log-in-content-padding) / 2);
    box-shadow: 4px 4px 4px rgb(128, 128, 128);
    outline: 0px solid var(--background-image-color);
    transition: outline 0.1s;
}
#sign-up-button:active,
#log-in-button:active,
#send-email-button:active,
#reset-password-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px;
    transition: 0.1s;
}
#sign-up-button:hover,
#log-in-button:hover,
#send-email-button:hover,
#reset-password-button:hover {
    outline: 4px solid var(--background-image-color);
    outline-offset: -2px;
    transition: 0.1s;
}

#sign-up-quote-display,
#log-in-quote-display {
    background-image: url("/background/quote_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    height: calc(20 * var(--responsive-font-size-1));
    width: calc(20 * var(--responsive-font-size-1));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign-up-quote,
#log-in-quote {
    font-size: var(--responsive-font-size-2);
    width: 80%;
    margin: 0;
    text-align: center;
    font-family: Andada Pro;
}

#sign-up-author,
#log-in-author {
    margin-bottom: 0;
    font-family: Andada Pro;
    font-size: var(--responsive-font-size-1);
}

@media only screen and (max-width: 1100px) {
    #sign-up-quote,
    #log-in-quote {
        font-size: calc(var(--responsive-font-size-1) + var(--responsive-font-size-point5));
    }
    #sign-up-form {
        padding-left: 0;
        padding-right: 10px;
    }
    #log-in-form {
        padding-left: 10px;
        padding-right: 0;
    }
}

@media only screen and (max-width: 910px) {
    #sign-up-quote-display,
    #sign-up-quote,
    #log-in-quote-display,
    #log-in-quote {
        display: none;
    }
    #sign-up-form,
    #log-in-form {
        padding-left: 0;
        padding-right: 0;
    }
    #sign-up-display,
    #log-in-display {
        box-sizing: border-box;
        flex-direction: column;
    }
}

@media only screen and (max-width: 560px) {
    #sign-up-display,
    #log-in-display,
    #forgot-password-display,
    #reset-password-display {
        padding: 0 10px 0 10px;
        box-sizing: border-box;
        flex-direction: column;
    }
    #sign-up-button,
    #log-in-button,
    #send-email-button,
    #reset-password-button {
        width: 50%;
        margin-bottom: 20px;
    }
    #sign-up-form,
    #log-in-form,
    #forgot-password-form,
    #reset-password-form {
        height: 100%;
        padding: 0;
        min-width: 0;
        width: fit-content;
        align-items: center;
        justify-content: start;
    }
    #sign-up-container,
    #log-in-container,
    #forgot-password-container,
    #reset-password-container {
        align-items: center;
    }
    #sign-up-info,
    #log-in-info,
    #forgot-password-info,
    #reset-password-info {
        padding: 20px 0 0 0;
        text-align: center;
    }
    #sign-up-form h1,
    #log-in-form h1,
    #forgot-password-form h1,
    #reset-password-form h1 {
        font-size: calc(var(--responsive-font-size-2) + var(--responsive-font-size-2));
    }
    #sign-up-form h2,
    #log-in-form h2,
    #forgot-password-form h2,
    #reset-password-form h2  {
        font-size: calc(var(--responsive-font-size-point5) + var(--responsive-font-size-point75));
    }
    .status {
        font-size: var(--responsive-font-size-1);
    }
}