* {
    --displays-height: 70vh;
    --displays-width: 25vw;
    --inner-displays-height: 55vh;
}

.main-display {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.unselected-display,
.selected-display,
.dayTimesInput {
    border-radius: 20px;
    padding: 30px;
    width: var(--displays-width);
    height: var(--displays-height);

    background-color: var(--primary-color);
    -webkit-box-shadow:0px 0px 60px 5px rgba(221, 242, 253, 0.404);
    -moz-box-shadow: 0px 0px 60px 5px rgba(221,242,253,0.61);
    box-shadow: 0px 0px 60px 5px rgba(221,242,253,0.61);
}


.unselected, 
.selected {
    overflow-y: auto;
    border-radius: 10px;
    height: var(--inner-displays-height);
}
.dayTimesInput {
    overflow-y: auto;
    border-radius: 10px;
    height: var(--displays-height);
}


.unselected-display > h3,
.selected-display > h3 {
    text-align: center;
}


.personal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.first-name-fetched,
.last-name-fetched,
.email-fetched,
.timezone-dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 10px;
    height: 8vh;

    background-color: var(--primary-color);
    -webkit-box-shadow:0px 0px 60px 5px rgba(221,242,253,0.61);
    -moz-box-shadow: 0px 0px 60px 5px rgba(221,242,253,0.61);
    box-shadow: 0px 0px 60px 5px rgba(221,242,253,0.61);
}
.timezone-dropdown-container p {
    width: max-content;
    text-align: center;
}

.personal-info p b{
    padding-left: 5px;
}
.personal-info div {
    justify-content: space-evenly;
}

b {
    color: white;
}

.submission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submission > button {
    font-size: 1.5em;
    margin-top: 10px;
}
/* -----------------------------------------LAPTOP L-------------------------------------------- */
@media only screen and (max-width: 1440px) {
    * {
        --second-displays-height: 55vh;
        --second-displays-width: 20vw;
        --second-inner-displays-height: 42vh;
        --padding-main-display: 5vw;
        --form-margin: 5px;
    }

    .main-display {
        padding: 0px var(--padding-main-display) 0px var(--padding-main-display);
        justify-content: start;
    }

    .unselected-display,
    .selected-display,
    .dayTimesInput {
        width: var(--second-displays-width);
        margin: 0px var(--form-margin) 0px var(--form-margin);
        height: var(--second-displays-height);
    }
    .dayTimesInput {
        width: 100vw;
    }

    .unselected, 
    .selected {
        height: var(--second-inner-displays-height);
    }
    .unselected-display > h3,
    .selected-display > h3 {
        margin-top: 0px;
    }

    .first-name-fetched,
    .last-name-fetched,
    .email-fetched,
    .timezone-dropdown-container {
        width: 35vw;
    }
    .personal-info {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .timezone-dropdown-container {
        justify-content: center;
        align-items: center;
    }
    
}
/* -----------------------------------------LAPTOP-------------------------------------------- */
@media only screen and (max-width: 1024px) {
    .personal-info div {
        width: 80%;
    }
    
    .last-name-fetched {
        display: none;
    }

    .timezone-dropdown-container {
        margin-bottom: 1rem;
    }
}
/* -----------------------------------------TABLET-------------------------------------------- */
@media only screen and (max-width: 768px) {
    .main-display,
    .personal-info {
        flex-direction: column;
    }
    .main-display > div {
        width: 100%;
        margin-bottom: 1rem;
    }
    .personal-info > div,
    .personal-info > p {
        margin-top: 0px;
        width: 90%;
    }

    .last-name-fetched {
        display: flex;
    }
}
/* -----------------------------------------MOBILE M-------------------------------------------- */
@media only screen and (max-width: 400px) {
    .timezone-dropdown-container a {
        display: none;
    }
}