.first-name-container, .last-name-container, .email-container {
    display: flex;
    flex-direction: column; 
    width: inherit;
    padding: 0px 20px 0px 20px;
    color: white;
}
.first-name-container input, .last-name-container input, .email-container input {
    border-radius: 10px;
    height: 30px;
    background-color: #ECF2FF;
}
