.unselected-display,
.selected-display,
.day-times-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: calc(75vh - var(--header-real-height) - var(--footer-real-height));
    text-align: center;
    padding: 10px;
    background-color: var(--main-submission-color);
    border-radius: 10px;
    box-shadow: 0px 2px 4px inset gray;
}

.unselected,
.selected,
.day-times-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.unselected *,
.selected * {
    font-size: var(--primary-font-size);
    border-radius: 5px;
}