--text: #061911;
--background: #f3fcf9;
--primary: #1b744c;
--secondary: #8c82e3;
--accent: #7729b3;

--text: #0c1816;
--background: #ebf5f3;
--primary: #2c5852;
--secondary: #a492c8;
--accent: #7f4992;

--text: #05688f;
--background: #ebf2fa;
--primary: #689636;
--secondary: #437ba3;
--accent: #a4bd00;