* {
    user-select: none;
    --ascent-color: #357019;
    --primary-font-size: 16px;

    @font-face {
        font-family: Inter;
        src: url("public/font/Inter/Inter-VariableFont.ttf");
    }
    @font-face {
        font-family: Andada Pro;
        src: url("public/font/Andada_Pro/AndadaPro-VariableFont.ttf");
    }

    font-family: Inter, sans-serif;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* Wrap all that needs to be between header and footer in a div with class "display" */
.display {
    width: 100vw;
    height: calc(100vh - var(--header-real-height) - var(--footer-real-height));
    margin: var(--header-real-height) 0px var(--footer-real-height) 0px;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
button:hover {
    color: white;
    background-color: var(--ascent-color);
    transition: all 100ms;
}

